# PyCharm IDE files
.idea

# Files that must be adjusted to local environment
run_nf_pipeline.sh

# Results
work
report.html

# Logs and traces
.nextflow.log*
trace-*.txt
timeline-*.html

# caches
.nextflow
